/* ==========================================================================
   Syntax highlighting
   ========================================================================== */


pre, code {
  font-family: $font-family-monospace;
  color: #fff;
  font-size: 0.9em;
  background-color: #2A2433;
  font-size: ($font-size-base - 3);
}
code {
  color: #e96900;
  border-radius: 2px;
  white-space: nowrap;
}


pre { // only apply for code blocks
  overflow: auto;
  display: block;
  padding: 1em;
  margin: 0 0 1em;
  line-height: $base-line-height * 0.925;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 0;
  font-weight: normal;
}
pre code {
  background: #2A2433;
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
  color: #fff;
  span {
    word-break: break-all;
  }
}
.highlight {
  margin: 0;
  pre {
    position: relative;
  }
  pre code {
    color: #fff;
    &::before {
      content: attr(data-lang);
      position: absolute;
      top: 0;
      right: 0;
      color: #333;
      text-align: right;
      text-transform: uppercase;
      font-size: 1em;
      padding: 5px 10px 0;
      line-height: 20px;
      height: 20px;
      font-weight: 600;
    }
  }
  .hll { background-color: #ffffcc }

  .c { color: #999999; font-style: italic;} /* Comment */
  .cm { color: #999999; font-style: italic;} /* Comment.Multiline 
  .cp { color: #999999; font-style: italic; } /* Comment.Preproc */
  .c1 { color: #999999; font-style: italic;} /* Comment.Single */
  .cs { color: #999999; font-weight: bold; font-style: italic;} 

  .err { color: #960050;} /* Error */

  .k { color: #fff;} /* Keyword */
  .kc { color: #8F51E6; font-weight: bold } /* Keyword.Constant */
  .kd { color: #8F51E6; font-weight: bold } /* Keyword.Declaration */
  .kn { color: #8F51E6; font-weight: bold } /* Keyword.Namespace */
  .kp { color: #8F51E6 } /* Keyword.Pseudo */
  .kr { color: #8F51E6; font-weight: bold } /* Keyword.Reserved */
  .kt { color: #FFB6B3;  } /* Keyword.Type */
  .no { color: #8F51E6 } /* Name.Constant */



  .o { color: #fff } /* Operator */
  .p { color: #fff} /* Punctuation */
  
  .m { color: #AA75F5 } /* Literal.Number */
  .mi { color: #ED645D}
  .n { color: #AA75F5 } /* Name */
  .nb { color: #AA75F5 } /* Name.Builtin */
  .ni { color: #AA75F5; font-weight: bold } /* Name.Entity */
  .nl { color: #AA75F5 } /* Name.Label */
  .nn { color: #AA75F5; font-weight: bold } /* Name.Namespace */
  .py { color: #AA75F5;} /* Name.Property*/
  .nv { color: #AA75F5 } /* Name.Variable */
  .w { color: #AA75F5 } /* Text.Whitespace */
  .bp { color: #AA75F5 } /* Name.Builtin.Pseudo */
  .vc { color: #AA75F5 } /* Name.Variable.Class */
  .vg { color: #AA75F5 } /* Name.Variable.Global */
  .vi { color: #AA75F5 } /* Name.Variable.Instance */


  .kn{ color : #E91E63 } /*Keyword.Namespace*/
  .nt { color : #E91E63 } /*Name.Tag*/
  .ow { color : #E91E63 } /*Operator.Word*/

  .ge { font-style: italic } /* Generic.Emph */

  .gs { font-weight: bold } /* Generic.Strong */


  .ld { color: #FFB6B3 } /*Literal.Date*/
  .s { color: #FFB6B3 } /* Literal.String */
  .sb { color: #FFB6B3 } /* Literal.String.Backtick */
  .sc { color: #FFB6B3 } /* Literal.String.Char */
  .sd { color: #FFB6B3 } /* Literal.String.Doc */
  .s2 { color: #FFB6B3 } /* Literal.String.Double */
  .sh { color: #FFB6B3 } /* Literal.String.Heredoc */
  .si { color: #FFB6B3; font-weight: bold } /* Literal.String.Interpol */
  .sx { color: #FFB6B3 } /* Literal.String.Other */
  .sr { color: #FFB6B3 } /* Literal.String.Regex */
  .s1 { color: #FFB6B3 } /* Literal.String.Single */
  .ss { color: #FFB6B3 } /* Literal.String.Symbol */

  .na { color: #ED645D } /* Name.Attribute */
  .nc { color: #ED645D } /* Name.Class */  
  .nd { color: #ED645D } /* Name.Decorator */
  .ne { color: #ED645D; font-weight: bold } /* Name.Exception */
  .nf { color: #ED645D } /* Name.Function */
  .nx { color: #ED645D } /* Name.Other*/
}
